# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.idea
config.properties
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gitignore
.idea/*.xml
/target
META-INF/
smartweb.iml
src/test/
target/generated-sources/
target/maven-status/
target/smartweb-0.0.1/META-INF/
target/smartweb-0.0.1/WEB-INF/jsp/
target/smartweb-0.0.1/WEB-INF/web.xml
target/smartweb-0.0.1/hello.jsp
target/tmp/jsp/org/apache/jsp/WEB_002dINF/jsp/hello_jsp.java
!/src/main/resources/log4j.properties
